<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
      <h1>Team creator</h1>
      <ul>
        <li>Ruben</li>
        <li>Lean</li>
        <li>Gaby</li>
      </ul>
      <div>
        <input type="text" placeholder="Name" />
        <button>Add</button>
      </div>
      <div>
        <input type="text" placeholder="How many teams?" />
        <button>Generate</button>
      </div>
    </div>
  </div>
</body>
</html>