  <div class="uk-container">
    <div class="uk-card-default uk-align-center uk-card-hover uk-card-body">
      <h1>Team creator</h1>
      <ul class="list">
        <li *ngFor="let member of members">{{ member }}</li>
      </ul>
      <form>
      <div class="add-members-container ">
        <input class="in-members"
          #addMemberInput
          type="text"
          placeholder="Name"
          (input)="onInput(addMemberInput.value)"
          [value]="newMemberName"
          />
        <button class="uk-width-1-1"
          (click)="addMember()">
          Add
        </button>
      </div>
      <div class="input-container uk-row uk-flex-bottom">
        <input type="text"
          #NumOfTeamsInput
          class="uk-width-1-1"
          placeholder="How many teams?" 
          (input)="onNumOfTeamsInput(NumOfTeamsInput.value)"
          [value]="numOfTeams"
           />
        <button (click)="generateTeams()">Generate</button>
      </div>
    </form>
      <p *ngIf="errorMessage" class="error-msg"> {{ errorMessage }}</p>
    </div>
  </div>
