.uk-container {
  padding: 4rem;
  width: 40rem;
  margin: 2rem auto;

    h1 {
        font-size: 3rem;
      }
      
      .list {
        padding: 1rem;
        height: 10rem;
        border: 0.1rem solid grey;
        overflow: auto;

        li{
          list-style-type: none;
          font-size: 1.25rem;
          margin-left: 1rem ;
          width: 90%;
        }      
      }
      
    input {
        border: none;
        border-bottom: 0.1rem solid rgba(128, 128, 128, 0.418);
        margin: 0 auto;
        width: 98%;
        height: 2rem;
      }
      .in-members{
        height: 1.25rem;
      }
      button {

        border: none;
        color: white;
        font-weight: 400;
        height: 2rem;
        cursor: pointer;
        background-color: rgb(0, 53, 139);
        margin-top: 0.5rem;
      }  

      .input-container {
        margin: 2rem 0;
        display: flex;
        height: 2rem;
      
        button {
            width: 50%;
            background-color: darkcyan;
            border: none;
            color: white;

            }
            input {
                width: 50%;
              }
        }
      
  }
  
 

  
 
  
  
  
 
  
  .card {
    padding: 2rem;
    width: 100%;
  }
  
  .error-msg {
    color: red;
  }